<h1>Hi <%= @user.name %> </h1>

<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Password:</strong> <%= @password %></p>
<p><%= link_to 'Login Here', new_user_session_path %></p>
<hr />
<p>Best Regards</p>