<h3>Please update the information</h3>

<%= render 'form' %>

<!-- <%= link_to 'Show', @student,class: "btn btn-large btn-info" %> | -->
<%= link_to 'Back', students_path, class: "btn btn-sm btn-info" %>  

