<div class="pull-right">
  <%= link_to "Add a User!", new_user_path, class: "btn btn-large btn-success" %>
</div>
<% provide(:title, 'All users') %>

<h2>User Accounts</h2>

<ul class="users">
	<%= render @users %>
</ul>