<% provide(:title, 'About Developers') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  
  <body>
  	<div class="center hero-unit">
  		<h1>About Developers</h1>
		<h3> Steven </h3>
		<h3> Nirajan </h3>
		<h3> Serkan</h3>
		<h3> Silpa </h3>
	</div>
  </body>

</html>