<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  
  <body>
  <div class="center hero-unit">
    <h1>Help Page</h1>
    <p>
      Help Contents
    </p>
  </div>

 </body>

</html>

