<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  <title><%= yield(:title) %></title>
  </head>

  <body>
<h2>Welcome to Student Database</h2>
  	<div class="hero-unit">
  	<div class="image">
    <%= image_tag("homepic.jpg", height: "150", width:"150") %>
  	</div>
    <br>
  	<h3> </h3>
  	<br>
  	<br>

  		</div>
	</body>
</html>

  


  
